/** @format */

.fade {
  &-enter {
    position: fixed;

    &-done {
      position: initial;
    }
  }

  &-exit {
    position: fixed;
    opacity: 1;
    z-index: 1;
    transition: opacity 200ms ease-in;

    &-active {
      opacity: 0;
    }
  }
}
